# General requirements
sanic==22.3.2
python-dotenv==0.20.0
mutagen==1.45.1
aiohttp==3.8.1

# Spotify specific requirements
-e git+https://github.com/kokarare1212/librespot-python.git@362b1b6bd9d52136b47aabd5b5e28f3bae5fdb70#egg=librespot

# Tidal specific requirements
pycryptodome==3.14.1
orjson==3.6.8

# logging
coloredlogs==15.0.1